<%inherit file="../base.html" />

<h3>Most active developers</h3>
<ul class="results">
	% for dev in popularDevelopers:
		<li><a href="${ buildUrl( 'dev-username', username = dev['username'] ) }">${ dev['username'] }</a> <sup>${ dev['num_snips'] }</sup></li>
	% endfor
</ul>

<h3>Most used tags</h3>
<ul class="results">
	% for tag in popularTags:
		<li><a href="${ buildUrl( 'search-query', query = tag.key().name() ) }">${ tag.key().name() }</a> <sup>${ tag.num_snips }</sup></li>
	% endfor
</ul>

<h3>Most popular programming languages</h3>
<ul class="results">
	% for lang in popularLanguages:
		<li><a href="${ buildUrl( 'code-lang', lang = lang['sanitized_name'] ) }">${ lang['name'] }</a> <sup>${ lang['num_snips'] }</sup></li>
	% endfor
</ul>

<h3>Top rated snippets</h3>
<ul class="results">
	% for snip in popularSnips:
	<li><a href="${ buildUrl( 'snip-index', lang = snip['lang'], cat = snip['cat'], title = snip['sanitized_title'] ) }">${ snip['title'] }</a> <sup>${ snip['votes_values'] }</sup></li>
	% endfor
</ul>

