<%inherit file="../base.html" />

<form action="${ buildUrl( 'search-index', _full = True )}" method="post">

<input type="search" name="query"
	placeholder="code search"
	autofocus="autofocus" required="required" />

</form>

<ul class="results">
	% for query in queries:
		<li><a href="${ buildUrl( 'search-query', query = query.sanitized_string ) }">${ query.string }</a></li>
	% endfor
</ul>

