<%inherit file="../base.html" />

<h2>${ numResults } search results for "<strong>${ query }</strong>"</h2>

<form action="${ buildUrl( 'search-index', _full = True )}" method="post">

<input type="search" name="query"
	value="${ query }"
	placeholder="code search"
	autofocus="autofocus" required="required" />

</form>

