
/* HTML5 */
sidebar, footer, header
{
	display: block;
}

body
{
	font-family: sans-serif;
	font-size: normal;
	margin: 1% 3%;
}

img
{
	border: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}

a
{
	text-decoration: none;
	color: blue;
}

a:hover
{
	background-color: yellow;
}

label
{
	display: block;
}

textarea
{
	width: 90%;
	font-size: medium;
}

input
{
	display: block;
}

input[ type = submit ]
{
	background-color: #00a300;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	padding: 2px 10px;
	border-radius: 8px;
}

input[ type = search ]
{
	width: 70%;
	display: block;
	font-size: x-large;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	text-align: center;
}
	header > a
	{
		float: left;
	}
	header > a:hover
	{
		background-color: transparent;
	}

	header > ul.user-links
	{
		width: 33%;
		float: right;
	}


footer
{
	text-align: left;
	font-size: small;
}

dl
{
	margin: 0px;
}

.hidden { display: none; }

br.clearer { clear: both; }

p.developer-feed-block
{
	font-size: small;
}

p.developer-feed-block > a
{
	color: #EE7B00;
	font-weight: bold;
}

ul.main-links
{
	margin: 0px;
	padding: 4px;
	clear: both;
	border-top: 1px solid #656864;
	border-bottom: 2px solid #656864; 
}
	ul.main-links > li
	{
		display: inline;
		margin-right: 50px;
	}
	ul.main-links > li > a
	{
		color: #C80000;
	}

ul.user-links
{
	margin: 0px;
	padding: 0px;
	text-align: right;
}
	ul.user-links > li
	{
		display: block;
	}
	ul.user-links > li > a
	{
		font-size: small;
		color: #656864;
		font-weight: bold;
		line-height: 1.2em;
	}

ul.external-links
{
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	border-top: 2px solid #656864;
	padding-top: 6px;
}
	ul.external-links > li
	{
		display: inline;
		margin-right: 30px;
	}
		ul.external-links > li > a
		{
			color: black;
			font-weight: bold;
		}

ul.programming-languages
{
	margin: 0px;
	padding: 0px;
}
	ul.programming-languages > li
	{
		display: inline;
		margin-right: 30px;
		font-weight: large;
	}
		ul.programming-languages > li > a
		{
		}

ul.breadcrumb
{
	margin: 0px;
	padding: 0px;
}
	ul.breadcrumb > li
	{
		display: inline;
		font-weight: large;
		margin-right: 5px;
	}
	ul.breadcrumb > li:after
	{
		margin-left: 10px;
		content: '\\';
	}
	ul.breadcrumb > li > a
		{
		}

ul.tags
{
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px;
}
	ul.tags > li
	{
		list-style-type: none;
		background-color: gray;
		border-radius: 8px;
		padding: 5px 10px;
		display: inline;
		overflow: hidden;
	}
		ul.tags > li > a
		{
			color: white;
		}
		ul.tags > li > a:hover
		{
			color: black;
		}

ul.results
{
	margin: 0px;
}
	ul.results > li
	{
		list-style-type: none;
		background-color: gray;
		border-radius: 8px;
		padding: 5px 10px;
		display: inline;
		overflow: hidden;
	}
	ul.results > li:nth-child(odd)
	{
		background-color: #FF9F9A;
	}
	ul.results > li:nth-child(even)
	{
		background-color: #F7FF4C;
	}
		ul.results > li > a
		{
			color: black;
		}
		ul.results > li > a:hover
		{
			text-decoration: underline;
		}

ul.languages
{
	margin: 0px;
}
	ul.languages > li
	{
		list-style-type: none;
		background-color: #cefcdd;
		border-radius: 8px;
		padding: 5px 10px;
		display: inline-block;
		margin: 3px;
	}
		ul.languages > li > a
		{
			color: blue;
		}
		ul.languages > li > a:hover
		{
			color: black;
		}

section.central
{
	float: right;
	width: 80%;
	padding: 10px;
}

sidebar.primary
{
	float: left;
	width: 15%;
	margin-right: 30px;
}

sidebar.secondary
{
	float: right;
	width: 15%;
	font-size: medium;
}

pre.output
{
	background-color: #aaa;
	font-size: medium;
	padding: 3px;
	color: black;
	border: 1px solid gray;
}

ul.vote-links
{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

ul.vote-links > li
{
	list-style-type: none;
	display: inline;
	margin: 7px;
}

ul.vote-links > li > a
{
	font-weight: bold;
}

div#votingArea
{
	margin-bottom: 20px;
}

div#voteTooltip
{
	text-align: center;
	font-size: small;
	color: #007906;
}

input#shortUrl
{
	width: 70%;
}

textarea#code
{
	height: 200px;
}

