
<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="SnipCat" data-related="santiagolizardo:SnipCat developer">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<div class="g-plusone" data-size="tall"></div>
<script type="text/javascript">
(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>

