<%inherit file="../base.html" />

<h3>Latest registered developers</h3>

<ul>
	% for developer in developers:
	<li><a href="${ buildUrl( 'dev-username', username = developer['username'] ) }">${ developer['username'] }</a>
	% endfor
</ul>

