<%inherit file="../base.html" />

<h3>Login</h3>
<form action="${ buildUrl( 'dev-login' ) }" method="post">
	<label for="username">Username</label>
	<input type="text" name="username" id="username" required="required" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" required="required" />
	<input type="submit" value="Login" />
</form>

