<%inherit file="../base.html" />

<form action="" method="post">

<p>
	<label for="ohloh">Ohloh</label>
	<input type="url" name="ohloh" id="ohloh" value="${ devUrl['ohloh'] }" />
</p>
<p>
	<label for="sourceforge">Sourceforge</label>
	<input type="url" name="sourceforge" id="sourceforge" value="${ devUrl['sourceforge'] }" />
</p>
<p>
	<label for="github">Github</label>
	<input type="url" name="github" id="github" value="${ devUrl['github'] }" />
</p>
<p>
	<label for="google_code">Google code</label>
	<input type="url" name="google_code" id="google_code" value="${ devUrl['google_code'] }" />
</p>
<p>
	<label for="linkedin">Linkedin</label>
	<input type="url" name="linkedin" id="linkedin" value="${ devUrl['linkedin'] }" />
</p>
<p>
	<label for="blog">Blog</label>
	<input type="url" name="blog" id="blog" value="${ devUrl['blog'] }" />
</p>
<p>
	<label for="twitter">Twitter</label>
	<input type="url" name="twitter" id="twitter" value="${ devUrl['twitter'] }" />
</p>
<p>
	<label for="codeplex">Codeplex</label>
	<input type="url" name="codeplex" id="codeplex" value="${ devUrl['codeplex'] }" />
</p>

<input type="submit" value="Submit" />

</form>

