<%inherit file="../base.html" />

<h1>${ developer['username'] }</h1>
<p class="developer-feed-block">Subscribe to the <a href="${ buildUrl( 'dev-feed', username = developer['username'] ) }">Atom feed</a> with the most recent code snippets from this developer</p>

<dl>
	<dt>Registration date</dt>
	<dd>${ developer['reg_date'] }</dd>

	% for urlKey, urlValue in urls.items():
		% if urlValue:
			<dt>${ urlKey }</dt>
			<dd><a href="${ urlValue }" rel="nofollow" target="_blank">${ urlValue }</a></dd>
		% endif
	% endfor
</dl>

<h3>Code snippets published by this user</h3>

% if snippets:
<ul>
	% for snip in snippets:
	<li><a href="${ buildUrl( 'snip-index', lang = snip['lang'], cat = snip['cat'], title = snip['sanitized_title'] ) }">${ snip['title'] }</a></li>
	% endfor
</ul>
% else:
This developer hasn't added a code snippet yet. Let's give him some more time.
% endif

<p><strong>Other similar developers</strong></p>

<ul>
	% for devel in developers:
	<li><a href="${ buildUrl( 'dev-username', username = devel['username'] ) }">${ devel['username'] }</a>
	% endfor
</ul>

