<%inherit file="../base.html" />

<h3>Create your developer account free</h3>

<ul>
	<li>Publish public and private code snippets</li>
	<li>Create collection of favourite snippets</li>
	<li>Participate on rankings</li>
</ul>

<form action="${ buildUrl( 'dev-register' ) }" method="post">

	<label for="username">Username</label>
	<input type="text" name="username" id="username" required="required" />

	<label for="email">Email</label>
	<input type="email" name="email" id="email" required="required" />

	<label for="password">Password</label>
	<input type="password" name="password" id="password" required="required" />

	<input type="submit" value="Register" />

</form>


