<%inherit file="../base.html" />

<h1>${ language['name'] } :: ${ category['name'] } -> Code snippets</h1>

<ul>
	% for snip in snips:
	<li><a href="${ buildUrl( 'snip-index', lang = language['sanitized_name'], cat = category['sanitized_name'], title = snip['sanitized_title'] ) }">${ snip['title'] }</a></li>
	% endfor
</ul>

