<%inherit file="../base.html" />

<h2>Snippets by <strong>programming language</strong></h2>

<ul class="programming-languages">
% for language in languages:
	<li><a href="${ buildUrl( 'code-lang', lang = language['sanitized_name'], _full = True ) }">${ language['name'] }</a></li>
% endfor
</ul>

