<%inherit file="../base.html" />

% if developers:
<section>
	<h2>${ language['name'] } developers</h2>
	
	<ul>
	% for developer in developers:
		<li><a href="${ buildUrl( 'dev-username', username = developer['username'], _full = True ) }">${ developer['username'] }</a></li>
	% endfor
	</ul>
</section>
% endif

<section>
	<h2>${ language['name'] } code examples</h2>
	
	<ul>
	% for category in categories:
		<li><a href="${ buildUrl( 'code-lang-cat', lang = language['sanitized_name'], cat = category['sanitized_name'], _full = True ) }">${ category['name'] }</a></li>
	% endfor
	</ul>
</section>
