<%inherit file="../base.html" />

<form action="${ buildUrl( 'snippet-add' ) }" method="post">

<input type="hidden" name="developerId" value="${ sessionDeveloper['developer_id'] if sessionDeveloper else 1 }" />

<label for="code">Code snippet</label>
<textarea name="code" id="code" onkeydown="return interceptTabs(event, this);" required="required"></textarea>

<label for="output">Output</label>
<textarea name="output" id="output"></textarea>

% if language:
	<input type="hidden" name="languageId" value="${ language['language_id'] }" />
% else:
	<label for="languageId">Programming language</label>
	<select name="languageId" id="languageId">
		% for lang in languages:
		<option value="${ lang['language_id'] }">${ lang['name'] }</option>
		% endfor
	</select>
% endif

% if category:
<input type="hidden" name="categoryId" value="${ category['category_id'] }" />
% else:
	<label for="categoryId">Category</label>
	<select name="categoryId" id="categoryId">
		% for lang in categories:
		<option value="${ lang['category_id'] }">${ lang['name'] }</option>
		% endfor
	</select>
% endif

<label for="title">Title</label>
<input type="text" name="title" id="title" required="required" />

<label for="description">Description</label>
<textarea name="description" id="description" required="required"></textarea>

<label for="tags">Tags</label>
<input type="text" name="tags" id="tags" required="required" />

<script type="text/javascript">
var RecaptchaOptions = { theme : 'clean' };
</script>

<label for="recaptcha_response_field">Spam control (type what you see on the image)</label>
${ captchaHtml }

<input type="submit" value="Add" />

</form>

