<%inherit file="../base.html" />

<span id="snipId" class="hidden">${ snip['snip_id'] }</span>

<div class="central">

<ul class="tags">
% for tag in snip['tags']:
	<li><a href="${ buildUrl( 'search-query', query = tag ) }">${ tag }</a></li>
% endfor
</ul>

<h1>${ snip['title'] }</h1>
<input type="url" class="auto-selectable" id="shortUrl" value="${ snip['shortcut_url'] }" readonly="readonly" />
<p>${ snip['description'] }</p>

<pre class="prettyprint">
${ snip['code'] }
</pre>

% if snip['output']:
<pre class="output">
${ snip['output'] }
</pre>
% endif

<%block name="sidebar_secondary">
<sidebar class="primary">
<dl>
	<dt>Uploaded by</dt>
	<dd><a href="${ buildUrl( 'dev-username', username = snip['developer_username'] )}">${ snip['developer_username'] }</a></dd>

	<dt>Creation date</dt>
	<dd><time pubdate="${ snip['creation_date'] }">${ snip['creation_date'] }</time></dd>

	<dt><abbr title="Lines of code">LoC</abbr> number</dt>
	<dd>${ snip['num_lines'] }</dd>

	<dt>Num. views</dt>
	<dd>${ snip['num_views'] }</dd>

	<dt>Votes average</dt>
	<dd>${ snip['votes_average'] } of 5</dd>

	<dt>Num. votes</dt>
	<dd>${ snip['num_votes'] }</dd>

	Vote:
	<div id="votingArea">
	<ul class="vote-links">
		<li><a title="I wouldn't use it" href="a">1</a></li>
		<li><a title="It could be improved" href="">2</a></li>
		<li><a title="It does what it says" href="c">3</a></li>
		<li><a title="Nice code" href="d">4</a></li>
		<li><a title="Terrific piece of code" href="e">5</a></li>
	</ul>
	<div id="voteTooltip">&nbsp;</div>
	</div>

	<%include file="../shared/social-buttons.html" />
</dl>

<p><a href="#" id="embed-link">Embed this <strong>code snippet</strong></a></p>

<div id="embed-dialog" class="hidden">
<textarea class="auto-selectable" id="embedCode" readonly="readonly" style="width: 100%;">
<iframe src="${ snip['embed_url'] }" style="border: 0px; width: 90%;"></iframe>
</textarea>
</div>

</sidebar>
</%block>

</div>

