<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Last-Modified" content="${ currentDatetime }" />
		<meta name="description" content="${ pageConf['metaDescription'] }" />
		<meta name="keywords" content="${ pageConf['metaKeywords'] }" />
		<title>${ pageConf['title'] }</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		% for styleSheet in styleSheets:
		<link type="text/css" rel="stylesheet" href="${ styleSheet }" />
		% endfor
		<script type="text/javascript">
		APP_DOMAIN = '${ appDomain }';
		</script>
		% for javaScript in javaScripts:
		<script type="text/javascript" src="${ javaScript }"></script>
		% endfor
	</head>
	<body>
		<header>
			<a href="http://www${ appDomain }"><img src="/images/logo.png" alt="logo" /></a>
			
			
			<ul class="user-links">
			% if sessionDeveloper:
				<li><a href="${ buildUrl( 'dev-preferences' ) }">Preferences</a></li>
				<li><a href="${ buildUrl( 'dev-logout' ) }">Logout</a></li>
			% else:
				<li><a href="${ buildUrl( 'dev-register' ) }">Create an account</a></li>
				<li><a href="${ buildUrl( 'dev-login' ) }">Login</a></li>
			% endif 
			</ul>
			
			<ul class="main-links">
				<li><a href="http://snippet${ appDomain }/add">ADD CODE SNIPPET</a></li>
				<li><a href="http://search${ appDomain }">Search</a></li>
				<li><a href="http://developer${ appDomain }">Developers</a></li>
				<li><a href="http://code${ appDomain }">Languages and categories</a></li>
				<li><a href="http://ranks${ appDomain }">Rankings</a></li>
			</ul>
						
		</header>
		
		<br class="clearer" />
		
		% if breadcrumb:
			<ul class="breadcrumb">
			% for step in breadcrumb:
				% if 'link' in step:
				<li><a href="${ step['link'] }">${ step['name'] }</a></li>
				% else:
				<li>${ step['name'] }</li>
				% endif
			% endfor
			</ul>
		% endif

		<section class="central">${ self.body() }</section>

		<%block name="sidebar_secondary"></%block>

		<br class="clearer" />

		<footer>
			<ul class="external-links">
				<li><a href="http://blog.snipcat.com" rel="nofollow">News</a></li>
				<li><a href="http://twitter.com/SnipCat" rel="nofollow">Micro updates</a></li>
			</ul>
		</footer>

		<%include file="shared/google-analytics.html" />
	</body>
</html>
