<%inherit file="base.html" />

<%block name="sidebar_secondary">

<h3>Programming languages</h3>
<ul class="languages">
	% for language in languages:
		<li><a href="${ buildUrl( 'code-lang', lang = language['sanitized_name'], _full = True ) }">${ language['name'] }</a></li>
	% endfor
</ul>

<h3>Snippet tags</h3>
<ul class="tags">
	% for tag in tags:
		<li><a href="${ buildUrl( 'search-query', query = tag.key().name(), _full = True ) }">${ tag.key().name() }</a></li>
	% endfor
</ul>
</%block>

